<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/cost.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Title</title>
</head>
<body>
    <div class="container" style="margin-top: 50px;">
        <div class="col-lg-8 text-center col-center">
            <h1>Check cost</h1>
            <p>Enter id:</p><input id="id" type="text" class="form-control margin">
            <button id="submit" class="btn btn-primary margin">Check cost</button>
            <a href="/" class="btn btn-primary margin">Go back</a>
            <div id="result" style="font-size: 50px;" class="margin"></div>
        </div>
    </div>
</body>
</html>