<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <title>ParkingMeter</title>
</head>
<body>
    <div class="container" style="margin-top: 50px;">
        <div class="col-lg-8 text-center col-center">
            <p style="font-size: 40px">Welcome to the parking system</p>
            <a href="/start" class="btn btn-primary margin">Start parking</a><br>
            <a href="/stop" class="btn btn-primary margin">Stop parking</a><br>
            <a href="/cost" class="btn btn-primary margin">Check cost</a>
        </div>
    </div>
</body>
</html>