<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/stop.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Stop</title>
</head>
<body>
    <div class="container" style="margin-top: 50px;">
        <div class="col-lg-8 text-center col-center">
            <h1>Stop parking</h1>
            <p>Enter id: </p><input id="id" type="text" class="form-control margin"/>
            <button id="submit" class="btn btn-primary margin">Stop</button>
            <a href="/" class="btn btn-primary margin">Go back</a>
            <div id="result" class="margin"></div>
        </div>
    </div>
</body>
</html>